@media screen and (min-width:1024px)
{   
    .advice_container {
        translate: 0;
    }
    .adviceCaption {
        font-size: 13px;
    }
    .adviceContext {
        font-size: 28px;
    }
}
@media screen and (min-width:1600px)
{
    .advice_container {
        max-width: 600px;
    }    
}