:root {
    --dark-blue: #202733;
    --dark-grayish-blue: #313A48;
    --grayish-blue: #4F5D74;
    --light-cyan: #CEE3E9;
    --neon-green: #53FFAA;
}

.dark-grayish-blue {background-color: var(--dark-grayish-blue);}

body {
    background-color: var(--dark-blue);
    font-family: 'Manrope', sans-serif;
}
.advice_container {
    max-width: 540px;
}

.adviceCaption {
    color: var(--neon-green);
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.457px;
}
.adviceContext {
    color: #CEE3E9;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.257px;
}
.fetchBtn {
    border: none;
    background-color: var(--neon-green);
    translate: 0 50%;
    user-select: none;
    transition: .3s;
}
.fetchBtn.disabled {
    background-color: grey !important;
    box-shadow: none !important;
    cursor: not-allowed;
}

.fetchbtnHover:hover {
    box-shadow: 0 0 25px var(--neon-green);
}